<div class='row'>
	<p>In its simplest use, it will redirect you to the Google Maps link for your place.</p>
	<p>You can get more specific with tips.</p>
	<ul>
		<li>"Look for the blue door"</li>
		<li>"Come up to floor 2, exit the elevator to your left and we’re the last door on the right
"</li>
	</ul>

	<p>You can even give parking instructions.</p>
	<ul>
		<li>"You can park anywhere in my complex parking lot"</li>
		<li>"Street parking on North Loop is also all unrestricted"</li>
	</ul>
</div>

<div class="row">
	<a href="<%= places_new_path %>" class='button'>
    <p>Get a temporary shortlink for your location</p>
    <small>Duration: 14 days</small>
  </a>
</div>

<div class="row">
  <a href="<%= new_user_registration_path  %>" class='button'>
    <p>Get a permanent shortlink for your location</p>
    <small>FOREVA</small>
  </a>
</div>

<div class="row">
	<%= link_to "Login", new_user_session_path, class: "button" %>
</div>
