// Place all the styles related to the Places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}

#map-container {
	margin: 50px;
}

#pac-input {
	top: 30px !important;
	left: 104px !important;
	width: 305px;
	font-size: 18px !important;

}