<div class="row">
	<h1>hur.i<%= image_tag('fi-compass.svg', style: "height:32px;margin-left: -3px;") %></h1>
	<h3>get found</h3>	
</div>
<div class="row">
	<h1>Edit your shortlink</h1>
</div>

<%= render partial: "form" %>