<h1>Create a new hur.io address shortlink</h1>


<a name="place"></a>	
	<div class="row">
		<h2>Place</h2>
		<div style="height:500px" id="map-container">
			<input id="pac-input" class="controls" type="text"
			        placeholder="Enter a location">
			<div id="map-canvas"></div>
		</div>
	</div>
<hr>


<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDbGHvHMeIHMycjI0vN-dquD3N7kqeSRCQ&libraries=places"%>
