<div class="row">
	<h1>hur.i<%= image_tag(asset_path('fi-compass.svg'), style: "height:32px;margin-left: -3px; src='/assets/'") %></h1>
	<h3>get found</h3>	
</div>
<div class="row">
	<h1>Create a new hur.io address shortlink</h1>
</div>

<a name="place"></a>	
<div class="row">
	<div style="height:500px" id="map-container">
		<input id="pac-input" class="controls" type="text"
		        placeholder="Enter a location">
		<div id="map-canvas"></div>
	</div>
</div>

<%= render partial: "form" %>
