<script src='https://www.google.com/recaptcha/api.js'></script>

<div class="row">
	<h1>Create a short link for a location</h1>
</div>

<a name="place"></a>	
<div class="row">
	<div style="height:500px" id="map-container">
		<input id="pac-input" class="controls" type="text"
		        placeholder="Enter a location">
		<div id="map-canvas"></div>
	</div>
</div>

<%= render partial: "form" %>
